@page
@model JoceApp.Pages.CoverLetterModel
@{
}

<div class="text-center">
    <h1 class="display-4">Cover Letter</h1>
    <hr />

	<img class="customImage" src="~/pics/kuromi sad writing.jpg" />
    <br/>
    <br/>
    <h5>WORK IN PROGRESS!!</h5>
    <p>Still working on writing the cover letter so nothing to add yet B)</p>

</div>
