@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Jocelyn Roldan</h1>
    <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <hr />

	<h2>About Me</h2>
    <br/>

    <div class="container"> 
        <div class="row">
            <div class="col-sm-4">
				<img src="~/pics/mirror.jpg" />
            </div>
            <div class="col-sm-8">
                <p align="left" style="color:red">
                    ADD SOMETHING ABOUT YOU SPEAKING SPANISH BC IT'S IMPORTANT
                </p>
                <p align="left">
                    Hello! My name is Jocelyn Roldan. Currently I am at National Louis University earning a bachelor's degree in Early Childhood Education with a concentration in bilingual education. I am expected to graduate this June! I have also attended Oakton Community College where I also earned my Associates degree in Early Childhood Education. At the moment I would be more than happy to teach at any grade level since through my years at college I've gained a decent experience with different grade levels.
                </p>
                <p align="left">
                    But something that I would be interested in teaching would be being in a dual language classroom since I am able to speak two languages being English and Spanish so I think including both languages in the room can be very beneficial to the student! Some personal things that I enjoy doing in my free time would be free painting, doing arts and crafts, as well as doing legos
                </p>
                <p align="left">
                    To conclude, the reason why I am very passionate about teaching is because I enjoy seeing my students grow throughout the year and seeing how far they come and blossom to who they are now
                </p>
            </div>
        </div>
    </div>

</div>
