@page
@model JoceApp.Pages.ResumeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Resume</h1>
    <hr />

    @*  <<<<<<<< WORK EXPERIENCE <<<<<<<< *@

    <h2 style="color:#FF6570">Work Experience</h2>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <p><b>Kindergarten Practicum | Forest Elementary School | Des Plaines, IL</b></p>
				<p align="left" class="px-6">JANUARY 2024 - MARCH 2024</p>
                <ul class="indent">
					<li align="left">
						Collaborated with a mentor teacher and fellow educators to strategize daily lesson plans and instructional activities.
					</li>
                    <li align="left">
						Directed phonics and reading sessions, engaging children in both small group and whole group settings to enhance literacy skills.
                    </li>
                    <li align="left">
						Assisted in managing classroom dynamics and contributed to teaching efforts through co-teaching strategies
                    </li>
                </ul>

@*              <p align="left" class="indent">
					Collaborated with a mentor teacher and fellow educators to strategize daily lesson plans and instructional activities.
				</p>
                <p align="left" class="px-6">
					Directed phonics and reading sessions, engaging children in both small group and whole group settings to enhance literacy skills.
				</p>
                <p align="left" class="px-6">
					Assisted in managing classroom dynamics and contributed to teaching efforts through co-teaching strategies
				</p>
 *@
                <br />

                <p><b>Substitute Teacher | Oakton Community College Early Childhood Center | Skokie, IL</b></p>
                <p align="left" class="px-6">JANUARY 2022 - AUGUST 2022 </p>
                <ul class="indent">
                    <li align="left">
						Collaborated with the lead teacher to develop age-appropriate daily activities to ensure engagement and developmen
                    </li>
                    <li align="left">
						Engaged with children aged three to five, providing support in fostering social-emotional skills and implementing effective behavior management strategies
                    </li>
                    <li align="left">
						Demonstrated problem-solving abilities by tailoring attention-grabbing activities to match individual children's interests and needs
                    </li>
                    <li align="left">
						Fostered positive communication and relationships with parents by maintaining open communication
                    </li>
                </ul>

                <br />

                <p><b>Summer High School Teacher Assistant | Theodore Roosevelt Elementary | Park Ridge, IL</b></p>
                <p align="left" class="px-6">JUNE 2019 - AUGUST 2019 </p>
                <ul class="indent">
                    <li align="left">
						Collaborated with the lead teacher to design and implement developmentally appropriate activities tailored to the needs of children aged six to seven.
                    </li>
                    <li align="left">
						Demonstrated proficiency in technology by helping children in understanding the basic operations of various devices and applications.
=                   </li>
                    <li align="left">
						Assisted a significant project involving the creation of a movie trailer using iMovie, where students gained hands-on experience in adding background music, text overlays, images, videos, and transitions to demonstrate their creativity.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*  <<<<<<<< TEACHER PREPARATION <<<<<<<< *@
    <br/>
    <h2 style="color:#FF6570">Teacher Preparation</h2>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <p><b>Preschool Practicum  | Oakton Community College Early Childhood Center | Skokie, IL</b></p>
                <p align="left" class="px-6">JANUARY 2022 - MAY 2022</p>
                <ul class="indent">
                    <li align="left">
                        Worked with children ages three to five and was in the classroom for about 15-18 hours per week, totaling 225 hours throughout the practicum.
                    </li>
                    <li align="left">
                        Designed and executed five comprehensive lesson plans.
                    </li>
                    <li align="left">
                        Demonstrated leadership during a takeover week by assuming the role of lead teacher responsible for smooth transitions, effective group management, and engaging activities.
                    </li>
					<li align="left">
                        Developed themed lesson plans centered around the concept of flowers by integrating various subjects including math, science, social studies, literature, and art.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*  <<<<<<<< EDUCATION <<<<<<<< *@
    <br />
    <h2 style="color:#FF6570">Education</h2>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <p><b>Bachelors of Art | Early Childhood Education | Concentration: ESL/Bilingual Education</b></p>
				<p align="left" class="px-6">JUNE 2024</p>
                <p align="left" class="px-6">National Louis University - Wheeling, IL</p>
                <p align="left" class="px-6">GPA: 4.0</p>

                <br />

                <p><b>Associate of Applied Science | Early Childhood Education</b></p>
                <p align="left" class="px-6">MAY 2022</p>
                <p align="left" class="px-6">Oakton Community College - Des Plaines, IL</p>
                <p align="left" class="px-6">GPA: 3.84</p>

            </div>
        </div>
    </div>



</div>
